body{
	margin: 0;
	padding: 0;
}
.fullBackground{
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.rules-box
{
	box-shadow: 0 0 20px rgba(255,255,255,0.5);
    position: absolute;
    top: 10%;
    right: 2%;
    width: 480px;

    border-radius: 20px;
    background-color: rgba(0,0,0,.8);
}
.rules-box h1
{
    font-family: 'Wendy One', sans-serif;
	font-size: 25px;
    text-align: center;

    color: #00a6ff;
    text-shadow: 1px 1px 2px black, 0 0 1em white;
}
.rules-box li
{
    font-family: 'Acme', sans-serif;
    font-size: 17px;

    color: white;
    text-shadow: 1px 1px 2px black, 0 0 1em white;
    letter-spacing: 1px;
}
p
{
    font-family: 'Acme', sans-serif;
    font-size: 17px;

    position: absolute;
    bottom: 2%;
    left: 2%;

    color: #fff;
    text-shadow: 1px 1px 2px black, 0 0 1em white;
    letter-spacing: 1px;
}


@media screen and (max-width: 900px){
	.rules-box
	{
		width: 370px;
	}
	.rules-box h1
	{
		font-size: 20px;
	}
	.rules-box li
	{
		font-size: 12px;
	}
	p{
		font-size: 12px;
	}
}
@media screen and (max-width: 768px){
	.rules-box
	{
		width: 280px;
	}
	.rules-box h1
	{
		font-size: 17px;
	}
	.rules-box li
	{
		font-size: 8px;
	}
	p{
		font-size: 8px;
	}
}
